
header{
    width: 100%;

    .container{
        background-image: linear-gradient(to right, #3c0202, #310705, #270907, #1c0909, #0c0909);
        border-radius: 10%;
        opacity: 0.9;
        z-index: 100;
        align-items: center;
    }
    .navbar-brand{   
        color: white!important
    }

    .nav-link {
        color: white!important
}

li a:hover{
    color: red;
    transition: 1s;
}

.nav-link{
    --clippy: polygon(0 2%, 0 1%, 0 100%, 0% 100%);
}

.nav-link:hover{
    --clippy:polygon(0 0, 100% 0, 100% 100%, 0 100%);
    
}

.nav-link:after{
    content: "";
    display: block;
    background: white;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
    width: 50px;
}

.navbar-toggler {
    background-image: url(../Imagenes/Imagen\ de\ Fondo.jpg);
}
}
