/*--------------------------------------------- Imports ------------------------------------------------- */
@import "footer";
@import "header";
@import "main";

/*--------------------------------------------- Normalize ------------------------------------------------- */

*{
    box-sizing: border-box ; 
    padding: 0 ;
    margin: 0 ;  
}

/*--------------------------------------------- Body ------------------------------------------------- */

body{
    color: white!important;
    font-family: 'Oswald', sans-serif;
}

/*----------------------------------- Estilos textos y titulos --------------------------------------- */

        .texto{
            width: 100%;
            text-align: center;
            margin: auto;
            padding: 50px;
            font-family: 'Oswald', sans-serif;
        }

        .texto1{
            width: 100%;
            text-align: center;
            margin: auto;
            font-family: 'Oswald', sans-serif;
        }

        .titulo{
            width: 100%;
            text-align: center;
            margin: auto;
            padding: 25px;
            font-family: 'Oswald', sans-serif;
        }


/*--------------------------------------------- Fondo ------------------------------------------------- */

.fondo{
    background-image: url(../Imagenes/Imagen\ de\ Fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

.colorFondo{
    background: rgba(55, 54, 54, 0.8); 
    z-index: 10;
}

.fondo2{
    background-image: url(../Imagenes/imagenFondo2.jpg);
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

.colorFondo2{
    background: rgba(55, 54, 54, 0.8); 
    z-index: 10;
}